aiofiles==0.6.0
celery==4.4.0
fastapi==0.79.0
flower==0.9.7
# Jinja2==3.0.3
pytest==6.2.4
# redis==3.5.3
requests==2.25.1
uvicorn==0.13.4
pyjwt==2.4.0
websockets==10.3
sentry-sdk[fastapi]>=1.9.8

# aiomysql==0.1.1
tortoise-orm[aiomysql]==0.19.2
python-rapidjson==1.8
ciso8601==2.2.0

nest_asyncio==1.5.5
